@model Contact
@{
    //making a name variable for easy re-use in the razor view.
    string name = Model.FirstName + " " + Model.LastName;
    ViewBag.Title = $"{name} Details" ;
}

<div class="d-flex justify-content-center">
    <h2>@ViewBag.Title</h2>
</div>

<div class="form-group">
    <label>Name:</label>
    <label>@name</label>
</div>

<div class="form-group">
    <label>Phone:</label>
    <label>@Model.Phone</label>
</div>

<div class="form-group">
    <label>Email:</label>
    <label>@Model.Email</label>
</div>

<div class="form-group">
    <label>Category:</label>
    <label></label>
</div>

<div class="form-group">
    <label>Organization:</label>
    <label>@Model.Organization</label>
</div>

<div class="form-group">
    <label>Date Added:</label>
    <label>@Model.Log</label>
</div>

<div class="d-flex justify-content-center">
    <a 
       asp-controller="Contact" 
       asp-action="Edit"
       asp-route-id="@Model.Id"
       asp-route-slug="@Model.Slug"
       class="btn btn-outline-primary me-2" style="width: 100%">Edit</a>
    <a 
       asp-controller="Contact" 
       asp-action="Delete"
       asp-route-id="@Model.Id"
       asp-route-slug="@Model.Slug"
       class="btn btn-outline-danger" style="width: 100%">Delete</a>
</div>