@model Contact
@{
    //making a name variable for easy re-use in the razor view.
    string name = Model.FirstName + " " + Model.LastName;
    ViewBag.Title = $"{name} Details";
}

<div class="d-flex justify-content-center mt-4 mb-5">
    <h2 class="display-4">@ViewBag.Title</h2>
</div>

<div class="d-flex justify-content-center form-group list-group-item row">
    <label class="col text-end">Name:</label>
    <label class="col">@name</label>
</div>

<div class="d-flex justify-content-center form-group list-group-item bg-light row">
    <label class="col text-end">Phone:</label>
    <label class="col">@Model.Phone</label>
</div>

<div class="d-flex justify-content-center form-group list-group-item row">
    <label class="col text-end">Email:</label>
    <label class="col">@Model.Email</label>
</div>

<div class="d-flex justify-content-center form-group list-group-item bg-light row">
    <label class="col text-end">Category:</label>
    <label class="col">@Model.Category.Name</label>
</div>

<div class="d-flex justify-content-center form-group list-group-item row">
    <label class="col text-end">Organization:</label>
    <label class="col">@Model.Organization</label>
</div>

<div class="d-flex justify-content-center form-group list-group-item bg-light row">
    <label class="col text-end">Date Added:</label>
    <label class="col">@Model.Log</label>
</div>

<div class="d-flex justify-content-center mt-3">
    <a 
       asp-controller="Contact" 
       asp-action="Edit"
       asp-route-id="@Model.Id"
       asp-route-slug="@Model.Slug"
       class="btn btn-outline-primary me-2" style="width: 30vw">Edit</a>
    <a 
       asp-controller="Contact" 
       asp-action="Delete"
       asp-route-id="@Model.Id"
       asp-route-slug="@Model.Slug"
       class="btn btn-outline-danger me-2" style="width: 30vw">Delete</a>
</div>
<div class="d-flex justify-content-center mt-3">
    <a asp-controller="Contact"
       asp-action="Index"
       class="btn btn-outline-secondary" style="width: 30vw">Return</a>
</div>