@model List<Contact>
@{
    ViewBag.Title = "Contacts";
}

<div class="d-flex justify-content-center mt-4">
    <h2 class="display-4">Contact Manager</h2>
</div>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Category</th>
            <th>
                <div class="d-flex justify-content-center">
                    <a asp-controller="Contact" asp-action="Add" class="btn btn-outline-primary" style="width: 100%" >
                        Add a Contact
                    </a>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td><a 
                       asp-controller="Contact"
                       asp-action="Details"
                       asp-route-id="@contact.Id"
                       asp-route-slug="@contact.Slug">@contact.FirstName</a>
                </td>
                <td>
                    <a 
                       asp-controller="Contact"
                       asp-action="Details"
                       asp-route-id="@contact.Id"
                       asp-route-slug="@contact.Slug">@contact.LastName</a>
                </td>
                <td>@contact.Phone</td>
                <td>@contact.Email</td>
                <td>@contact.Category.Name</td>
            </tr>
        }
    </tbody>
</table>
