@model List<Contact>
@{
    ViewBag.Title = "Contacts";
}

<div class="d-flex justify-content-center mt-4 mb-5">
    <h2 class="display-4">Contact Manager</h2>
</div>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td><a 
                       asp-controller="Contact"
                       asp-action="Details"
                       asp-route-id="@contact.Id"
                       asp-route-slug="@contact.Slug"
                       class="btn btn-outline-secondary"
                       style="width: 100%">@contact.FirstName</a>
                </td>
                <td>
                    <a 
                       asp-controller="Contact"
                       asp-action="Details"
                       asp-route-id="@contact.Id"
                       asp-route-slug="@contact.Slug"
                       class="btn btn-outline-secondary"
                       style="width: 100%">@contact.LastName</a>
                </td>
                <td class="text-center align-middle">@contact.Phone</td>
                <td class="text-center align-middle">@contact.Email</td>
                <td class="text-center align-middle">@contact.Category.Name</td>
            </tr>
        }
    </tbody>
</table>
<div class="d-flex">
    <a 
        asp-controller="Contact" 
        asp-action="Add" 
        class="btn btn-outline-primary"
        style="width: 30vw">Add a Contact</a>
</div>
